<div class="col sm12">
	<a id="grabTreasuryData" class="waves-effect waves-light btn" href="javascript:void(0)">
		Grab Treasury Data
	</a>

	<a id="recreateTables" class="waves-effect waves-light btn" href="javascript:void(0)">
		Recreate Tables (WILL DELETE ALL DATA)
	</a>
</div>

<script src="/js/admin/database.js"></script>