<div class="section col sm12">
	
	<h2 class="header">Database Tools</h2>

	<p>
		<a id="grabTreasuryData" class="waves-effect waves-light btn" href="javascript:void(0)">
			Grab Treasury Data
		</a>
	</p>
	
	<p>
		<a id="recreateTables" class="waves-effect waves-light btn disabled" href="javascript:void(0)">
			Recreate Tables <span style="color: red">(WILL DELETE ALL DATA)</span>
		</a>
	</p>

	<p>
		<a id="mergeCompaniesWineries" class="waves-effect waves-light btn" href="javascript:void(0)">
			Do The Merge!
		</a>
	</p>

	<div class="section">
		<h4>Testing Stuff</h4>
		<p>
			<a href="javascript:void(0)" id="geojsonGetWineries" class="waves-effect waves-light btn">
				Get GeoJSON Wineries
			</a>
		</p>
	</div><!--.section-->


	<div id="dataModal" class="modal bottom-sheet">
		<div class="modal-content">
			<h4>Testing modal!</h4>
		</div>
	</div>

</div>

<script src="/js/admin/database.js"></script>