<html class="admin">
	<head>
		<title>Napa Maps | Administration</title>
		<!--Import Google Icon Font-->
		<link rel="stylesheet" href="/css/reset.min.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/avas.css">
		<link rel="stylesheet" href="/css/wineries.css">
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	</head>
	<body>
		<div class="row ajax-nav">
			<div class="navbar-fixed">
				<ul id="databaseDropdown" class="dropdown-content">
					<li><a href="/admin/database/wineries">Wineries</a></li>
					<li><a href="javascript:void(0)">Companies</a></li>
					<li><a href="javascript:void(0)">Avas</a></li>
					<li class="divider"></li>
					<li><a href="/admin/database">Tools</a></li>
				</ul>
				<nav>
					<div class="nav-wrapper">
						<div class="col s12">
							<a id="adminBtn" href="javascript:void(0)" class="brand-logo">Admin</a>
							<ul id="nav-mobile" class="right hide-on-med-and-down">
								<li><a href="/map" class="waves-effect waves-light">Map</a></li>
								<li><a href="#!" class="waves-effect waves-light dropdown-button" data-beloworigin="true" data-activates="databaseDropdown">Database<i class="material-icons right">arrow_drop_down</i></a></li>
								<li><a href="/admin/settings" class="waves-effect waves-light">Settings</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<div id="view">
				{{{ body }}}
			</div>
		</div>
	<script src="/materialize/js/bin/materialize.min.js"></script>
	<script src="/js/admin/admin.js"></script>
	<script src="/js/navbar.js"></script>
	</body>
</html>