<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Napa Wine Makers - Map</title>
	<!-- <script src="https://www.openlayers.org/api/OpenLayers.js"></script> -->
</head>
<body>
	{{{ body }}}
</body>
</html>