@charset "UTF-8";

@import "public/materialize/sass/materialize";

html, body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	// font-family: "Trebuchet MS", Helvetica, sans-serif;
}

html.admin {
	overflow: auto;
	
	body {
		overflow: auto;
	}
}

/* Utility classes to be used across the app */

.hidden {
	display: none;
}

.shadow {
	box-shadow: gray 5px 5px 5px;
	transition: box-shadow 0.5s linear;
}

.mapContainer {
	width: 100%;
	height: 100%;
}

#main {
	width: 100%;
	height: 100%;
}

#vis {
	width: 100%;
	height: 100%;
}

.map {
	/*border: 1px solid #00aaaa;*/
}

.ol-overlay-container {
	/*display: block;*/
	/*opacity: 0;*/
	transition: opacity 0.5s linear;
}

.popup {
	/*width: 340px;*/
	width: 0;
	height: 0;
	/*height: 215px;*/
	border: 1px solid black;
	background: #fff;
	padding: 1em;
	transition: all 0.5s;
	overflow: hidden;
}

	.popup.open {
		width: 340px;
		height: auto;
	}

	.popup h3 {
		font-size: 1.2em;
		margin-bottom: 0.3em;
	}

	.popup h4 {
		color: #888;
		margin-bottom: 0.3em;
	}

	.popup .thumbnail-container {
		height: 160px;
		width: 340px;
		overflow-y: scroll;
		overflow-x: none;
	}

	.popup .thumbnail {
		height: 150px;
		width: 150px;
		padding: 5px;
		display: inline-block;
	}

	.popup .thumbnail img {
		max-height: 100%;
		max-width: 100%;
	}

	.popup .winery-edit {
		position: absolute;
		bottom: 1em;
		right: 1em;
	}

	.popup .winery-edit-form {
		padding-top: 10px;
	}