html, body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container {
	width: 100%;
	height: 100%;
}

#main {
	width: 100%;
	height: 100%;
}

#vis {
	width: 100%;
	height: 100%;
}

.map {
	/*border: 1px solid #00aaaa;*/
}

.popup {
	width: 340px;
	/*height: 215px;*/
	border: 1px solid black;
	background: #fff;
	padding: 1em;
	box-shadow: gray 5px 5px 5px;
}

	.popup h3 {
		font-size: 1.2em;
		margin-bottom: 0.3em;
	}

	.popup h4 {
		color: #888;
		margin-bottom: 0.3em;
	}

	.popup .thumbnail-container {
		height: 160px;
		width: 340px;
		overflow-y: scroll;
		overflow-x: none;
	}

	.popup img.thumbnail {
		max-height: 150px;
		max-width: 150px;
		padding: 5px;
	}